<html>
<head><title>IMDB review Analyzer</title></head>


<body>
    <form method="post" action="/analyze">
        <label for="review">Enter the text</label>
        <input type="text" name="review" id="review">  <br>
        <input  type="submit" value="Analyze"><br><br>

    </form>
    <input type="text" name="" id="" value="{{comment}}">
</body>


</html>